@import com.hub.data.Board
@import org.squeryl.Query
@(boards:Query[Board])
@layouts.html.default("All Boards"){

<h2>Programming Board</h2>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Date</a></li>
    <li><a href="#">Name</a></li>
    <li><a href="#">Likes</a></li>
  </ul>
</div>

<br/>
<div class="row">
@for(b <- boards){
  <div class="col-lg-6">
    <div class="well">
      @b.imgPath match {
        case Some(i) => { <img src="/rivendell.jpg" class="img-responsive" alt="Cinque Terre"> }
        case None => {} }
      <h3>@b.name</h3>
      <hr/>
      <p>As a result of a long sequence of coincidences I entered the programming profession officially on the first spring morning of 1952 and as far as I have been able to trace, I was the first Dutchman to do so in my country. In retrospect the most amazing thing was the slowness with which, at least in my part of the world, the programming profession emerged, a slowness which is now hard to believe. But I am grateful for two vivid recollections from that period that establish that slowness beyond any doubt. </p>
    </div>
  </div> 
}
</div>

}
