@import com.hub.data.{Board, Category, Article}
@import org.squeryl.Query

@(ordering:(Article, Article) => Boolean, board: Board)(implicit cats: Query[Category])
@layouts.html.default(board.name){

<h2>@{board.name}(<a href="/article/new/@board.id">+</a>)</h2>



<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/board/@board.id?order=date">Date</a></li>
    <li><a href="/board/@board.id?order=name">Name</a></li>
  </ul>
</div>

<br/>
<div class="row">
  
  @for(a <- board.articles.toList.sortWith(ordering)){
  <div class="col-lg-6">
    <div class="well">
      @a.imgPath match {
        case Some(i) => { <img src="/rivendell.jpg" class="img-responsive" alt="Cinque Terre"> }
        case None => {<img src="/rivendell.jpg" class="img-responsive" alt="Cinque Terre">}
        }
      <h3>@a.name</h3>
      <hr/>
      <p>@a.body</p>
    </div>
  </div> 
}
</div>
}
