@(error: Option[String])(implicit cats: org.squeryl.Query[com.hub.data.Category])
@layouts.html.default("Login to Hub"){

@error match {
case Some(text) => {
<div class="alert alert-danger">
  <strong>Error!</strong> @error
</div>
}
case None => { }
}

<form action="/auth/login" method="post">
  Email:<br>
  <input type="text" name="email" value="test@@gmail.com">
  <br>
  Password:<br>
  <input type="text" name="pass" value="123456">
  <br><br>
  <input type="submit" value="Login">
  <a href="/auth/register">Register</a>
</form>

}
