@import com.hub.data.{Board, Category}
@import org.squeryl.Query

@(boards: Query[Board])(implicit cats: Query[Category])

@layouts.html.default("My Boards"){

<h2>My Boards</h2>

<br/>
<div class="row">
@for(b <- boards){
  <div class="col-lg-6">
    <div class="well">
      @b.imgPath match {
        case Some(i) => { <img src="/rivendell.jpg" class="img-responsive" alt="Cinque Terre"> }
        case None => {} }
      <h3><a href="/board/@b.id">@b.name</a></h3>      
    </div>
  </div> 
}
</div>

}
