@(error: Option[String], bid: String)(implicit cats: org.squeryl.Query[com.hub.data.Category])
@layouts.html.default("New Article"){

@error match {
case Some(text) => {
<div class="alert alert-danger">
  <strong>Error!</strong> @error
</div>
}
case None => { }
}

<form action="/article/new/@bid" method="post">
  <br>Title:<br>
  <input type="text" name="title" value="The Humble Programmer">
  <br>Body:<br>
  <textarea name="body" cols="40" rows="5">
    As a result of a long sequence of coincidences I entered the programming profession officially on the first spring morning of 1952 and as far as I have been able to trace, I was the first Dutchman to do so in my country. In retrospect the most amazing thing was the slowness with which, at least in my part of the world, the programming profession emerged, a slowness which is now hard to believe. But I am grateful for two vivid recollections from that period that establish that slowness 
  </textarea>
  <br><br>
  <input type="button" color="red" value="Exit">
  <input type="submit" value="Save">
</form>

}
