@(error: Option[String])(implicit cats: org.squeryl.Query[com.hub.data.Category])
@layouts.html.default("Register to Hub"){

@error match {
case Some(text) => {
<div class="alert alert-danger">
  <strong>Error!</strong> @error
</div>
}
case None => { }
}

<form action="/auth/register" method="post">
  Name:<br>
  <input type="text" name="name" value="user1">
  <br>
  About:<br>
  <input type="text" name="about" value="nothing special">
  <br>
  Email:<br>
  <input type="text" name="email" value="test@@gmail.com">
  <br>
  Password:<br>
  <input type="text" name="pass" value="123456">
  <br><br>
  <input type="submit" value="Register">
</form>

}
