@(error: Option[String])(implicit cats: org.squeryl.Query[com.hub.data.Category])
@layouts.html.default("Register to Hub"){

@error match {
case Some(text) => {
<div class="alert alert-danger">
  <strong>Error!</strong> @error
</div>
}
case None => { }
}

<form class="text-center" action="/auth/register" method="post">
  <br>
  <h2>Welcome to News Hub!</h3>
  <br>
  <input type="text" placeholder="Name" name="name" value="user1">
  <br><br>
  <textarea name="about" cols="40" rows="5">
    Introduce yourself
  </textarea>
  <br><br>
  <input type="text" placeholder="Email" name="email" value="test@@gmail.com">
  <br><br>
  <input type="text" placeholder="Password" name="pass" value="123456">
  <br><br>
  <input type="text" placeholder="Retype password" name="pass2" value="123456">
  <br><br>
  <input type="submit" value="Register">
</form>

}
